DATABASE_URL=postgresql://postgres:Nguyenmylb85@db.qzdavrjuwnfgglmtxyfv.supabase.co:5432/postgres?sslmode=require
ASPNETCORE_ENVIRONMENT=Production
JwtSettings__SecretKey=CHANGE_ME_TO_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS
JwtSettings__Issuer=ThaoQuyenEditor
JwtSettings__Audience=ThaoQuyenEditorClient

NEXT_PUBLIC_SUPABASE_URL=https://qzdavrjuwnfgglmtxyfv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Fsbc44rMjX5dIszKojhzQQ_N-CtXrIz
