DATABASE_URL=Host=YOUR_SUPABASE_DB_HOST;Port=5432;Database=postgres;Username=YOUR_SUPABASE_DB_USER;Password=YOUR_SUPABASE_DB_PASSWORD;SSL Mode=Require
ASPNETCORE_ENVIRONMENT=Production
JwtSettings__SecretKey=8hW9zN4pQ7mL2xR5vT8kY1sD6fG3jH9cB4nP7uV2wX5eR8tY
JwtSettings__Issuer=ThaoQuyenEditor
JwtSettings__Audience=ThaoQuyenEditorClient

NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=YOUR_SUPABASE_PUBLISHABLE_KEY
